:root {
    --squad-min-width: 100px;
}

.board {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(var(--squad-min-width), 8vw));
    place-content: center;
    user-select: none;
}

.board div {
    border: 1px solid currentColor;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: 0.1s;
    font-size: clamp(3em, 6vw, 6.5em);
    display: grid;
    place-items: center;
    &:hover {
        border-width: 4px;
    }
}

.board.winner div:hover {
    border-width: 1px;
    cursor: default;
}

@media screen and (max-width: 350px), (max-height: 570) {
    .board {
        padding: 0.5rem 2rem;
        --squad-min-width: 80px;
    }
}
