.button {
    background-color: #1a1a1a;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: auto;
    display: block;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    &:hover,
    &:focus-visible {
        background-color: #363636;
        padding-inline: 1.5rem;
    }
    &:focus-visible {
        background-color: white;
        color: black;
    }
}
